.language-project-javascript {
  background-color: #fbdd51;
}

.language-project-typescript {
  background-color: #3178c6;
}

.language-project-shell {
  background-color: #89e051;
}

.language-project-css {
  background-color: #7e57c2;
}

.language-project-html {
  background-color: #ff7043;
}
