
    .prose .anchor {
        @apply invisible absolute no-underline;
        cursor: pointer;
        margin-left: -1em;
        padding-right: 0.5em;
        width: 80%;
        max-width: 700px;
    }

    .anchor:hover {
        @apply visible;
    }

    .prose a {
        @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
    }

    .prose .anchor:after {
        @apply text-neutral-300 dark:text-neutral-700;
        content: '#';
    }

    .prose *:hover > .anchor {
        @apply visible;
    }

    .prose pre {
        @apply overflow-x-auto rounded-none rounded-b-lg bg-neutral-50 dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 mt-0;
    }

    .prose code {
        @apply rounded-b-lg;
        /*px-1 py-0.5*/
    }

    .prose pre code {
        @apply p-0 mt-0;
        border: initial;
        line-height: 1.5;
    }

    .prose code span {
        @apply font-medium;
    }

    .prose img {
        /* Don't apply styles to next/image */
        @apply m-0;
    }

    .prose h1,
    h2,
    h3,
    h4 {
        @apply font-semibold tracking-tighter my-9 scroll-mt-[65px] text-slate-900 dark:text-slate-50 !important;
    }

    .prose strong {
        @apply font-medium;
    }

    .prose > :first-child {
        /* Override removing top margin, causing layout shift */
        margin-top: 1.25em !important;
        margin-bottom: 1.25em !important;
    }

    pre::-webkit-scrollbar {
        display: none;
    }

    pre {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Remove Safari input shadow on mobile */
    input[type='text'],
    input[type='email'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .prose .tweet a {
        font-weight: 500;
        text-decoration: inherit;
    }

    .prose table {
        display: block;
        max-width: fit-content;
        overflow-x: auto;
        white-space: nowrap;
    }

    .prose .callout > p {
        margin: 0 !important;
    }


    .prose p {
        @apply text-base sm:text-lg  ;
    }

    .prose pre,
    .prose code {
        @apply text-sm sm:text-base md:text-lg;
    }

    .prose strong {
        @apply text-base sm:text-lg ;
    }

    .prose table {
        @apply text-sm sm:text-base md:text-lg;
    }
